<!-- <h1 class="text-3xl font-bold underline">
  Hello world!re
  </h1>
<app-button
  [content]="'Submit'"
  [severity]="'success'"
  [type]="'submit'"
  [disabled]="false"
></app-button>

<app-button
  [content]="'Submit'"
  [severity]="'primary'"
  [type]="'submit'"
  [disabled]="false"
></app-button>
<app-button
  [content]="'Submit'"
  [severity]="'secondary'"
  [type]="'submit'"
  [disabled]="false"
></app-button>
<app-button
  [content]="'Submit'"
  [severity]="'danger'"
  [type]="'submit'"
  [disabled]="false"
></app-button>
<form [formGroup]="form">
  <app-text formControlName="username" label="Username"></app-text>
</form>

<p>Form Value: {{ form.value | json }}</p> -->

<router-outlet></router-outlet>